@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  margin: 0;
}

.section-1,
.section-2,
.section-3,
.section-4,
.section-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 270px;
  padding-right: 270px;
}

.section-1,
.section-2 {
  padding-bottom: 100px;
}

.section-3 {
  padding-bottom: 30px;
  padding-top: 40px;
}

.section-1 {
  justify-content: space-between;
  background-color: #1f2937;
  padding-top: 12px;
  color: #f9faf8;
}

.section-5 {
  padding: 50px 50px;
  background-color: #1f2937;
}
.section-container {
  display: flex;
  flex-direction: column;
}

.w-wide {
  max-width: 1000px;
}

.w-thin {
  max-width: 750px;
}

.header, 
.hero {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  font-size: 24px;
  font-weight: 600;
}

.header-menu {
  display: flex;
  list-style-type: none;
  gap: 32px;
}

a.header-menu-item,
.low-contrast {
  color: #d1d3d8;
}

.hero-left,
.hero-right {
  flex: 1;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-left-heading,
.hero-left-text {
  display: flex;
}

.hero-left-heading {
  font-size: 48px;
  font-weight: 900;
}

.hero-right {
  background: url("https://picsum.photos/600/200");
  width: 600px;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  border-radius: 6px;
  border-width: 0;
  padding: 10px;
  font-size: 100%;
  max-width: 120px;
}

h2.section-2-title-heading {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
}

.section-2-cards,
.section-2-card {
  display: flex;
}

.section-2-cards {
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.section-2-card {
  display: flex;
  flex-direction: column;
  flex-basis: 10em;
  justify-content: space-between;
  gap: 20px;
}

img.section-2-card-image {
  flex: 1;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  border: 2px solid #3882f6;
}

p.section-2-card-text {
  text-align: center;
  margin: 0px;
  padding: 0 15px;
}

.section-3 {
  background-color: #e5e7eb;

}

p.testimonial {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
  font-family: sans-serif;
}

p.testimonial-signature {
  text-align: right;
  font-weight: bold;
}


.section-4-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  margin: 100px  0;
  padding: 50px 100px;
  border-radius: 10px;
  background-color:#3882f6;
  max-width: 100%;
}

.section-4-box .left {
  display: flex;
  flex-direction: column;
}

.section-4-box .right {
  display: flex;
  max-height: 30px;
  align-items: center;
}

button.section-4-button {
  border: 2px solid #f9faf8;
  width: 200px;
}

.bold {
  font-weight: bold;
}

.section-4-action {
  color: #f9faf8; 
}

.gap {
  gap: 80px
}


.footer {
  display: flex;
  justify-content: center;
  text-align: center;
}
